body {
    background: #eee;
}

.site-container {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.site-container .page-content {
    padding: 0 0 30px;
}

.mdl-layout__content {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
}

.demo-card-square.mdl-card {
    width: 280px;
}
.demo-card-square.mdl-card .mdl-card--expand {
    height: 200px;
}

.demo-card-square > .mdl-card__title {
    color: #fff;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.shop-main-blocks {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 -25px;
}

.demo-card-square {
    margin: 0 0 20px 25px;
}
.demo-card-square .options-product {
    padding: 0;
}
.demo-card-square .mdl-data-table {
    width: 100%;
    border: none;
    margin: -1px 0;
}
.demo-card-square .card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px;
}
.demo-card-square .card-bottom .mdl-button--fab {
    margin: 0;
}
.demo-card-square .product-more {
    text-align: center;
}

.mdl-mini-footer {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
}

#auth-page .mdl-textfield {
    display: block;
}

.mdl-menu__item a {
    text-decoration: none;
    color: inherit;
}

.mdl-components__warning {
    width: 100%;
    margin: 20px 0;
    background-color: #FFF9C4;
    padding: 16px;
    border-radius: 2px;
    color: #212121;
}

.main_iframe {
    margin-top: 20px;
    overflow: auto;
}

.mdl-layout__content {
    max-width: none;
}

.auth_main {
    text-decoration: none;
    padding: 8px 10px;
    text-align: center;
    font-size: 13px;
    color: #fff;
    background: #2196f3;
}

.hidden {
    display: none;
}

.result_list {
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    width: auto;
    padding: 10px;
    border: #caccd2 solid 1px;
    position: relative;
    min-width: 500px;
    max-width: 850px;
    margin-left: 10px;
    overflow: auto;
}

.result_list .row {
    display: flex;
    flex-direction: row;
}

.result_list  .cell {
    margin: 5px 10px;
}

.result_list  .element-type {
    width:60px;
}

.result_list  .element-name {
    width: 250px;
}