body {
    background: #eee;
}

.site-container {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.site-container .page-content {
    padding: 0 0 30px;
}

.mdl-layout__content {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
}

.demo-card-square.mdl-card {
    width: 280px;
}
.demo-card-square.mdl-card .mdl-card--expand {
    height: 200px;
}

.demo-card-square > .mdl-card__title {
    color: #fff;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.shop-main-blocks {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 -25px;
}

.demo-card-square {
    margin: 0 0 20px 25px;
}
.demo-card-square .options-product {
    padding: 0;
}
.demo-card-square .mdl-data-table {
    width: 100%;
    border: none;
    margin: -1px 0;
}
.demo-card-square .card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px;
}
.demo-card-square .card-bottom .mdl-button--fab {
    margin: 0;
}
.demo-card-square .product-more {
    text-align: center;
}

.mdl-mini-footer {
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
}

#auth-page .mdl-textfield {
    display: block;
}

.mdl-menu__item a {
    text-decoration: none;
    color: inherit;
}

.mdl-components__warning {
    width: 100%;
    margin: 20px 0;
    background-color: #FFF9C4;
    padding: 16px;
    border-radius: 2px;
    color: #212121;
}

.main_iframe {
    margin-top: 20px;
    overflow: auto;
    min-height:800px;
}

.mdl-layout__content {
    max-width: none;
}

.main-title{
    text-align: center;
    margin-top: 30px;
}

.auth_main {
    text-decoration: none;
    padding: 8px 10px;
    text-align: center;
    font-size: 13px;
    color: #fff;
    background: #2196f3;
}

.hidden {
    display: none !important;
}

.result_list {
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    width: auto;
    padding: 10px;
    border: #caccd2 solid 1px;
    position: relative;
    min-width: 500px;
    max-width: 850px;
    margin-left: 10px;
    overflow: auto;
}

.result_list .row {
    display: flex;
    flex-direction: row;
}

.result_list  .cell {
    margin: 5px 10px;
}

.result_list  .element-type {
    width:60px;
}

.result_list  .element-name {
    width: 250px;
}

.get_iframe{
    width: 500px;
    margin: 20px auto;
}

.registr,.auth{
    width: 500px;
    margin: 20px auto;
}

.message{
    position: absolute;
    top: 100%;
    width: 200px;
    left: 0;
    font-size: 15px;
    color: red;
    background: #e3dbba;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.added-elements-wrap{
    width: 460px !important;
    box-sizing: border-box;
    display: flex;
    top: 20px;
    background: #fff !important;
    min-height: 300px;
    padding: 10px;
    flex-flow: wrap column;
    font-weight: normal !important;
}

.burger {
    width: 40px;
    height: 40px;
    position: fixed;
    box-sizing: border-box;
    top: 20px;
    left: 20px;
    /*background: lightblue;*/
    cursor: pointer;
    border-radius: 50%
}

.close-button{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    left: auto;
    right:0px;
    cursor: pointer;
    border-radius: 50%;
}

.add-elements-button{
    width: 200px;
    margin: 20px auto 0 !important;
}

.added-elements-wrap{
    display: flex;
    flex-flow: wrap column;
}
.added-elements-wrap .column {
    word-break: break-all !important;
}

.added-elements-wrap-scroll{
    max-height: 600px;
    position: fixed;
    left: -100%;
    top: 20px;
    overflow: auto;
}

.reset{
    margin-left: 20px !important;
    margin-right: 20px;
}

.added-elements-wrap * {
    max-width:100%;
}

.list{
    max-width:100%;
}

.reset-wrap,.remove-group, .edit-group{
    cursor: pointer;
}

.buttons-wrap{
    display: flex;
    flex-flow: wrap row;
    align-items: center;
}

.add-button{
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid lightblue;
    cursor: pointer;
}

#content {
    padding: 20px;
}

.request-textarea{
    width: 100%;
}

.editing{
    outline: 2px solid lightgreen;
}


.disbl{
    position: absolute;
    display: block;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999999;
    pointer-events: none;
    background: rgba(153, 153, 153, 0.5);
}